name: Deploy with Docker to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t flask-app .

      - name: Stop and remove old container
        run: |
          docker stop flask-container || true
          docker rm flask-container || true

      - name: Run new container
        run: |
          docker run -d \
            -p 5000:5000 \
            --name flask-container \
            --restart always \
            flask-app